# Виртуальное окружение
venv/
env/
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Локальная база данных
*.db
*.sqlite3

# Логи
*.log

# Локальные настройки
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo